footer {
  padding: 2.4rem 2rem;
  background-color: #005792;
  color: #ffffff;
  height: 10vh;
}


.social {
  color: #ffffff;
  padding: 0.7rem;
  margin: 0.7rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.twitter {
  background-color: #1DA1F2;
  
}

.linkedin {
  background-color: #0077B5;
}

.github {
  background-color: #333333;
}
  
.fab {
  font-size: 1.2rem;
}

